* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header {
    height: 46px;
    background-color: #000;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}
.nav-list {
    display: flex;
    list-style: none;
}
/* 
flex-box
 */
.nav-item {
    height: 46px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-icon {
    font-size: 1.5rem;
    color: #fff;
}

.nav-item:hover .nav-link {
    color: black;
}
.nav-item:hover {
    background-color: #fff;
}
.nav-item:last-child {
    position: relative;
}
.nav-item:last-child:hover .addmore {
    opacity: 1;
    display: block;
}
.nav-link {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
.addmore {
    transition: all 0.4s ease-in-out;
    opacity: 0;
    list-style: none;
    display: none;
    position: absolute;
    top: 50px;
    left: 30px;
    background-color: burlywood;
}
.addmore li a {
    text-decoration: none;
    height: 26px;
    display: block;
    color: black;
}